.carousel {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    width: 400px;
    height: 300px;

    border: 1px solid #eee;
}

.carousel__item {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 400px;
    height: 300px;
}

.carousel__item--01 {
    background-color: #FF0000;
}

.carousel__item--02 {
    background-color: #00FF00;   
}

.carousel__item--03 {
    background-color: #0000FF;
}

.carousel__item--04 {   
    background-color: #FFFF00;
}