html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.carousel-wrapper {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0;
    width: 400px;
    height: 300px;
}

.carousel {
    overflow: hidden;
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 400px;
    height: 300px;
}

.carousel__item {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 400px;
    height: 300px;
}

.carousel__item--01 {
    background-color: #FF0000;
}

.carousel__item--02 {
    background-color: #00FF00;   
}

.carousel__item--03 {
    background-color: #0000FF;
}

.carousel__item--04 {   
    background-color: #FFFF00;
}

.carousel-navigation {
    display: block;
    position: absolute;
    top: 308px;

    margin: 0 auto;
    padding: 0;

    width: 100%;

    font-size: 0;
    text-align: center;
}

.carousel-navigation__item {
    display: inline-block;

    margin: 0 4px;
}

.button-navigation {
    margin: 0;
    padding: 4px;
    
    border: none;
    background: none;
    background-color: #CCC;
}